<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light d-flex justify-content-between">
      <span class="navbar-brand mb-0 h1">
        <%= link_to "Wikinomous",articles_path%>
      </span>
      <span class="navbar-brand mb-0 h1">
        <%= link_to "New Article",new_article_path%>
      </span>
    </nav>
    <%= yield %>
  </body>
</html>
